@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}

body {
	padding: 10px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(135deg, #83aaff, #aad9ff);
}

.title {
	font-size: 25px;
	font-weight: 500;
	text-align: center;
}

.container {
	padding: 25px 30px; /* padding-top: 25px padding-side: 30px idk */
	width: 45%;
	background: white;
	border-radius: 5px;
	box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
}

.container .input-boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.input-boxes .input-box {
	margin: 20px 0 12px 0; /* top, right, bottom, left */
	width: calc(100% / 2 - 20px);
}

.input-boxes .input-box input {
	height: 30px;
	width: 100%;
}

.input-boxes .input-box .details {
	font-weight: 500;
	text-align: center; /* Only works if it isnt a span */
	margin-bottom: 20px; /* margin-bottom for 'input 1', 'input 2', etc texts */
}