* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%; /* idk why this makes the doc in center */
}

body {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgb(52, 150, 43), rgb(40, 126, 32));
}

.container {
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 51);
    /*border-radius: 5px; 
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);*/
}

#countdown {
    margin: 17px auto;
    width: 90%;
}

h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

li {
    display: inline-block;
    inline-size: 130px;
    font-size: 1.3em;
}

li span {
    display: block;
    font-size: 4.5rem;
}

#content {
    display: none;
    padding: 5px;
    margin: 7px auto 0 auto;
    width: 80%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
}

#content p {
    margin: 0;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}

@media all and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    li {
        padding: .75rem;
        font-size: 1.125rem;
    }

    li span {
        font-size: 3.375rem;
    }

    #content p {
        font-size: 15px;
    }
}